<footer class="cardboard-bg">
  <div class="footer-wave wave cardboard-bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <img src="assets/images/logo.svg" alt="Gnibl" style="display: inline-block; width: 100px;">
        <div class="footer-links">
          <a href="">Login</a>
          <a href="">About</a>
          <a href="">FAQ</a>
          <a href="">Pricing</a>
          <a href="" class="visible-xs">Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="accepted-payments col-sm-4">
        <h4>Accepted Payments</h4>
        <img src="" alt="Visa">
        <img src="" alt="MasterCard">
        <img src="" alt="American Express">
        <img src="" alt="PayPal">
      </div>
      <div class="col-sm-8 hidden-xs">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
          ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
          aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <span>Copyright &copy; <script>document.write(new Date().getFullYear())</script></span>
        <a style="margin-left: 20px" class="hidden-xs" href="">Terms &amp; Conditions</a>
        <div class="social" style="float:right">
          <a href=""><img src="" alt="Facebook"></a>
          <a href=""><img src="" alt="Instagram"></a>
          <a href=""><img src="" alt="Twitter"></a>
          <a href=""><img src="" alt="Google Plus"></a>
        </div>
      </div>
    </div>
  </div>
</footer>
