<head>
  <meta charset="UTF-8">
  <!--JQUERY-->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <!--LEAN BOOTSTRAP-->
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <!--TYPEKIT-->
  <script src="https://use.typekit.net/xhc5oia.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <!--CUSTOM-->
  <link rel="stylesheet" href="/assets/style/gnibl.css">
  <script src="/assets/script/gnibl.js"></script>
</head>
<body {% if page.title == "Home" %} class="home" {% endif %} >
  <header>
    <a href="/"><img class="logo" src="/assets/images/logo.svg"></a>
    <nav>
      <a href="/pricing">PRICING</a>
      {% if page.title != "Trial" %}
      <a class="btn btn-red" href="/trial"><span>Try Gnibl for free</span></a>
      {% endif %}
    </nav>
    {% if page.title == "Home" %}
    <div class="subnav">
      <div class="links">
        <a href="#about">How it works</a>
        <a href="#promise">Our promise</a>
        <a href="#products">Products</a>
        <a href="#testimonials">Testimonials</a>
        <a href="#faqs">FAQs</a>
      </div>
    </div>
    {% endif %}
  </header>
