/*VARIABLES*/
$gniblred: #e63a3a;
$gniblreddark: #d53636;
$gniblgreen: #56e172;
$gniblgreendark: #4ecd68;
$rounded: 6px;
$font: #444444;
$midgrey: #cccccc;

/*MIXINS*/
// generic transform
@mixin transform($transforms) {
	   -moz-transform: $transforms;
	     -o-transform: $transforms;
	    -ms-transform: $transforms;
	-webkit-transform: $transforms;
          transform: $transforms;
}

// translate
@mixin translate ($x, $y) {
   @include transform(translate($x, $y));
}

@mixin translateX ($x) {
   @include transform(translateX($x));
}

@mixin translateY ($y) {
   @include transform(translateY($y));
}

/*GENERAL*/
html, body {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
}
body.home {
  @media (max-width: 767px) {
    padding-bottom: 80px;
  }
	.header-trial-button {
		display: none;
	}
}
@font-face {
    font-family: "HelloLucky";
    src: url(fonts/HelloLucky.otf);
}

* {
  font-family: "brandon-grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font;
}

section {
  padding: 40px 0;
  z-index: 10;
  position: relative;
  &.under {
    z-index: 0;
  }
}
a {
  color: $font;
  transition: .2s;
  font-weight: "500";
  text-decoration: underline;
  &.btn {
    text-decoration: none;
  }
  &:hover, &:active, &:focus {
    color: $gniblgreen;
    text-decoration: none;
  }
}
nav a, nav a:hover, footer a, footer a:hover {
  text-decoration: none;
}

/*TYPOGRAPHY*/
h1 {
  font-family: "HelloLucky";
  font-size: 50px;

  span {
    font-family: "HelloLucky";
  }
}
h2 {
  text-transform: uppercase;
  font-size: 28px;
  @media (max-width: 480px) {
    font-size: 18px;
  }
  &.alt-header {
    text-align: center;
  }
}
h3 {
  text-transform: uppercase;
  font-size: 28px;
  color: $gniblgreen;
  @media (max-width: 480px) {
    font-size: 24px;
  }
  @media (max-width: 360px) {
    font-size: 20px;
  }
}
h4 {
  font-size: 24px;
  @media (max-width: 360px) {
    font-size: 22px;
  }
  &.alt-header {
    text-transform: uppercase;
    text-align: center;
  }
}
p {
  font-size: 20px;
  @media (max-width: 360px) {
    font-size: 18px;
  }
}

.green {
  color: $gniblgreen;
}
.red {
	color: $gniblred;
}

/*FORMS*/
input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: $rounded;
  border: 1px solid $midgrey;
  margin: 0 0 10px 0;
  @media (min-width: 768px) {
    &.half {
      width: calc(50% - 5px);
      float: left;
    }
    & ~ .half {
      margin-left: 10px;
    }
  }
}
textarea {
  width: 100%;
  border: 1px solid $midgrey;
  border-radius: $rounded;
  resize: none;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  margin: 0 0 10px 0;
}
.validation {
  box-sizing: border-box;
  display: none;
  padding: 15px 0 0;
  // .error {
  //   display: block;
  //   color: $gniblred;
  //   font-size: 14px;
  //   margin: 0;
  // }
}
label.error {
  padding: 20px;
  background-color: $gniblred;
  border-radius: $rounded;
  color: white;
  position: absolute;
  right: 15px;
}


/*BUTTONS*/
.btn {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
  border: 0;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: $rounded;
  transition: .2s;
  font-size: 24px;

  &.btn-red {
    background: $gniblred;
    &:hover {
      background: $gniblreddark;
    }
  }

  &.btn-green {
    background: $gniblgreen;
    &:hover {
      background: $gniblgreendark;
    }
  }

  overflow: hidden;

  span {
    color: white;
    position: relative;
    &:before {
      content:url('../images/accent.png');
      position: absolute;
      right: calc(100% + 10px);
      top: 0;
      @media (max-width: 768px) {
        top: -5px;
        right: calc(100% + 5px);
        transform: scale(.8);
      }
    }
    &:after {
      content:url('../images/accent-2.png');
      position: absolute;
      left: calc(100% + 10px);
      top: 0;
      @media (max-width: 768px) {
        top: -5px;
        left: calc(100% + 5px);
        transform: scale(.8)
      }
    }
  }

  &:hover {
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

/*UTILITIES*/
ul.collapsible {
  list-style: none;
  padding: 0;
  li {
    transition: 1s;
  }
  li .answer {
    display: none;
  }
  li h4:before {
    content: "+";
    position: absolute;
    left: -20px;
  }
  li.open h4:before {
    content: "-";
  }
  li.open .answer {
    display: block;
  }
}

.tabs {
  background: #e7e7e7;
  border-radius: 12px;
  overflow: auto;
  .btn-tab {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    border: 1px solid #f7f7f9;
    font-weight: bold;
    transition: .2s;
    &.selected-tab {
      background: rgba(0,0,0,.18);
			color: white;
    }
    &:hover {
      cursor: pointer;
    }
  }
}

.tooltip-container {
	.tooltip {
		display: none;
		position: absolute;
		top: calc(100% + 20px);
		left: 0;
		width: 100%;
		text-align: center;
		span {
			color: $midgrey;
		}
	}
	&:hover {
		.tooltip {
			display: block;
		}
	}
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000000;
  background: rgba(204,204,204,.8);

  .modal-back {
    left: 20px;
    top: 15px;
    position: absolute;
    width: auto !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    height: 40px;
    &:hover {
      cursor: pointer;
      color: $gniblgreen;
    }
  }

  .modal {
    min-height: 100px;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
    background: #f7f7f9;
    padding: 50px 20px 20px;
    width: 100%;
    max-width: 600px;
    border-radius: $rounded;
    @media (max-width: 480px) {
      position: relative;
      height: 100%;
      margin: 0 auto;
      left: 0;
      top: 0;
      transform: none;
    }
    overflow-y: scroll;
  }
  .error {
    right: 20px;
  }
}

/*HAND DRAWN HEADERS*/
.handdrawn {
  display: inline;
  padding: 40px 60px;
  @media (max-width: 480px) {
    padding: 20px 60px 20px 20px;
  }
  position: relative;
  z-index: 100;
  background-image: url("../images/handdrawn-header.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  //background-color: white;
  // -webkit-mask-image: url("../images/handdrawn-header.svg");
  // mask-image: url("../images/handdrawn-header.svg");
  // mask-repeat: no-repeat;
  // -webkit-mask-repeat: no-repeat;
  // mask-size: 150% 100%;
  // -webkit-mask-size: 150% 100%;
  // mask-position: right;
  // -webkit-mask-position: right;
}
.left-header {
  background-position: right;
  background-size: 120% 100%;
}
.right-header {
  background-position: left;
  background-size: 120% 100%;
  float: right;
  // mask-position: left;
  // -webkit-mask-position: left;
  @media (max-width: 480px) {
    padding: 20px 20px 20px 60px;
  }
}
.page-header {
  text-align: center;
  display: table;
  float: none;
  position: absolute;
  left: 50%;
  @include translateX(-50%);
  width: default;
  margin: 0 auto;
  padding: 30px 40px;
  // -webkit-mask-size: 100% 100%;
  // mask-size: 100% 100%;
}

.main-header {
  display: inline-block;
  margin-bottom: 0;
  padding: 40px 60px 40px 60px;
  font-size: 50px;
  @media (min-width: 1024px){
    margin-top: 25px;
    width: 55vw;
    max-width: 600px;
    left: -100px;
    text-align: center;
  }
  @media (max-width: 1023px), (orientation: portrait) {
    text-align: center;
    float: none;
    background-size: 100% 100%;
    @media (max-width: 767px){
    padding: 30px 40px;
    margin-top: -15px;
    }
  }
  @media (max-width: 480px) {
    padding: 25px 20px;
    font-size: 32px;
  }
  @media (max-width: 360px) {
    font-size: 28px;
  }
}
.red-header {
  //background-color: $gniblred;
  background-image: url("../images/red-header.svg");
  color: white;
}
.green-header {
  //background-color: $gniblgreen;
  background-image: url("../images/green-header.svg");
  color: white;
}

/*HOME*/
/*--LANDING*/
// .home-hero {
//   padding-bottom: 40px;
//   background-position: top !important;
//   text-align: center;
//   overflow-y: visible;
//   background-color: #f7f7f9;
//   @media (min-width: 1366px) {
//     background-position: center -5vw !important;
//     p {
//       font-size: 24px;
//     }
//   }
//   &::before {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     content: "";
//     background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
//     background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
//     background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
//     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
//   }
// }
.home-hero {
  background: url("../images/hero.png"), url("../images/dotted.jpg");
  //background: url("../images/hero.jpg");
  background-size: cover, auto;
  min-height: 70vh;
  background-repeat: no-repeat, repeat;
  background-position: left center;
  overflow-y: visible;
  padding: 0;
  height: auto;

  @media (max-width: 1024px) {
    background-position: -100px top;
  }



  @media (min-width: 1024px) and (orientation: landscape) {
    .hero-content {
      min-height: 70vh;
      background: rgba(255,255,255,.75);
      padding: 0 30px 60px;
    }
  }

  @media (max-width: 1023px), (orientation: portrait) {
    max-height: none;
    height: auto;
    background-image: url("../images/mobile-header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    text-align: center;
    padding-top: 100px;

    .col-xs-12 {
      width: 100%;
      margin-left: 0;
      padding-right: 15px;
    }

    p {
      width: 100%;
      max-width: 440px;
      margin: 20px auto 40px;
      @media (max-width: 480px) {
        margin: 10px auto 20px;
      }
    }
  }
    &::before {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0) 70%, rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
}
/*--CLIENTS*/
.client {
	display: inline;
	position: relative;
}
.clients img {
  width: 60px;
  margin: 10px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  opacity: .5;
  transition: .5s;

  @media (max-width: 767px) {
    width: 40px;
    margin: 5px;
  }

  &:hover {
    -webkit-filter: grayscale(20%);
    -moz-filter: grayscale(20%);
    -ms-filter: grayscale(20%);
    -o-filter: grayscale(20%);
    opacity: .8;
  }
}
/*--HOW IT WORKS*/
.about {
  .intro {
    max-width: 75%;
  }
  @media (max-width: 767px) {
    overflow: hidden;
    .container {
      padding-top: 150px;
      @media (max-width: 480px) {
        padding-top: 30vw;
      }
    }
    .intro {
      max-width: none;
    }
  }
  .overhead-box {
    z-index: 10000;
    position: absolute;
    top: -75px;
    right: 0;
    max-width: 40vw;
    -ms-transform: rotate(15deg); /* IE 9 */
    -webkit-transform: rotate(15deg); /* Chrome, Safari, Opera */
    transform: rotate(15deg);
    @media (max-width: 767px) {
      position: absolute;
      -ms-transform: none; /* IE 9 */
      -webkit-transform: none; /* Chrome, Safari, Opera */
      @include translateX(-50%);
      width: 70vw;
      max-width: 360px;
      top: 30px;
      left: 50%;
    }
  }
  .edamame {
    position: absolute;
    left: -80px;
    top: 10%;
    max-width: 35vw;
    @media (min-width: 1600px) {
      left: 80px;
    }
    @media (max-width: 767px) {
      width: 180px;
      top: 120px;
      right: -20px;
      left: auto;
    }
  }
  .nuts {
    position: absolute;
    z-index: 1000;
    bottom: -30px;
    left: -150px;
    max-width: 40vw;
    @media (min-width: 1600px) {
      max-width: 35vw;
      left: -80px;
    }
    @media (max-width: 767px) {
      z-index: 0;
      width: 240px;
      top: -20px;
      right: 2%;
      left: auto;
    }
    @media (max-width: 480px) {
      right: -10px;
      top: 10px;
    }
  }
  .popcorn {
    position: absolute;
    right: -70px;
    top: 50%;
    max-width: 35vw;
    @media (min-width: 1600px) {
      right: 100px;
    }
    @media (max-width: 767px) {
      left: 0;
      right: auto;
      top: 100px;
      width: 200px;
    }
  }
}
/*--PRODUCTS*/
#products-container {
  height: 500px;
  z-index: 15;
  .product-slide:focus {
    outline: none;
  }
  .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 160px;
    background: rgba(255,255,255,.5);
    z-index: 5;
    border: 0;

    @media (max-width: 480px) {
      width: 80px;
    }
    span {
      color: $gniblgreen;
      box-sizing: content-box;
      font-size: 40px;
      position: absolute;
      top: 50%;
      @include translateY(-50%);
      font-weight: bold;
    }
    &:hover {
      cursor: pointer;
    }
    &.slick-prev {
      left: 0;
      background: -moz-linear-gradient(left,  rgba(247,247,249,1) 0%, rgba(247,247,249,1) 10%, rgba(247,247,249,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(left,  rgba(247,247,249,1) 0%,rgba(247,247,249,1) 10%,rgba(247,247,249,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right,  rgba(247,247,249,1) 0%,rgba(247,247,249,1) 10%,rgba(247,247,249,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f9', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */

      span {
        left: 10px;
      }
    }
    &.slick-next {
      right: 0;
      background: -moz-linear-gradient(right,  rgba(247,247,249,1) 0%, rgba(247,247,249,1) 10%, rgba(247,247,249,0) 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(right,  rgba(247,247,249,1) 0%,rgba(247,247,249,1) 10%,rgba(247,247,249,0) 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left,  rgba(247,247,249,1) 0%,rgba(247,247,249,1) 10%,rgba(247,247,249,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f9',GradientType=1 ); /* IE6-9 */

      span {
        right: 10px;
      }
    }
    &:focus {
      outline: none;
    }
  }

  .slick-list {
    width: 100%;
  }
}
.product-carousel {
  overflow: hidden;
  height: 300px;
  margin-top: 160px;
}
.product {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background: url("../images/handdrawn-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px !important;
  height: 250px !important;
  .info {
    position: absolute;
    top: 50%;
    @include transform(translateY(-50%) translateY(-10px));
    left: 20px;
    width: calc(50% + 10px);
    .feature {
      overflow: auto;
      margin-top: 20px;
      width: 100%;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      img {
        width: 25px;
        margin-right: 10px;
        float: left;
      }
      p {
        color: white;
        float: left;
        font-size: 14px;
        margin: 0;
        width: calc(100% - 35px);
      }
    }
  }
  .product-image {
    width: 50%;
    right: -30px;
    top: 50%;
    @include translateY(-50%);
    position: absolute;
  }
}
/*--INSTAGRAM*/
#instagram {
  background-image: url(../images/fruit-granola.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 120px 0 40px;

  h2.alt-header {
    text-shadow: 1px 0 1px #f7f7f9, 0 1px 1px #f7f7f9, -1px 0 1px #f7f7f9, 0 -1px 1px #f7f7f9;
  }
  @media (max-width: 480px) {
    background-position: center 15px;
    padding: 60px 0;
  }
  @media (min-width: 1366px) {
    background-position: center -60px;
  }
  @media (min-width: 2000px) {
    background-position: center 25%;
  }
}
#instafeed {
  padding-bottom: 100px;
  @media (max-width: 480px) {
    padding-bottom: 60px;
  }
  .instafeed-image {
    float: left;
    width: 25%;
    padding: 10px;
    background: rgba(247,247,249, .2);
    img {
      width: 100%;
    }
    @media (max-width: 767px) {
      width: 50%;
    }
  }
}
/*--FAQS*/
.faqs {
  background-image: url("../images/faqs-bg.jpg");
  background-size: cover;
  background-position: center center;

  @media (max-width: 480px) {
    background-image: url("../images/faqs-bg-alt.jpg");
  }

  .container {
    overflow: scroll;
    -ms-overflow-style: none;
  }
}

.container.test {
  margin-top: 50px;
  @media (max-width: 480px) {
    margin-top: 20px;
  }
}

.testimonial {
  position: relative;

  @media (max-width: 767px) {
    margin: 20px 0;
  }

  p {
    padding: 20px;
    margin: 0;
    border-radius: 30px;
    background: white;
  }
  .chat-tail {
    width: 100%;
    height: auto;
    position: relative;
    float: right;
    top: -30px;
    z-index: -1;

    @media (max-width: 767px) {
      position: absolute;
      height: 100px;
      width: auto;
      right: -47px;
      top: auto;
      bottom: 0;
    }
    @media (max-width: 480px) {
      height: 60px;
      right: -23px;
    }
  }
  &.pull-right {
    .chat-tail {
      @media (max-width: 767px) {
        right: auto;
        left: -47px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
      }
      @media (max-width: 480px) {
        height: 60px;
        left: -23px;
      }
    }
  }
}

@media (max-width: 767px) {
  .testimonial-container {
    float: left;
    position: relative;
    width: 100vw;
  }

    .photo-container {
      position: absolute;
      bottom: 70px;
      right: 0;

      &.left {
        left: 0;
        right: auto;
      }
    }
}
.testimonial-photo {
  width: 100px;
  height: 100px;
  max-width: 100%;
  display: block;
  margin: 40px auto 0;
  border-radius: 50%;
  background-size: cover;

  @media(max-width: 480px) {
    width: 50px;
    height: 50px;
  }
}
@media (min-width: 768px) {
	body {
		padding-top: 60px;
	}
}

/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10000;
  transition: .5s;
  a {
    padding: 0 10px;
  }
  a.selected {
    background: rgba(0,0,0,.05);
  }

  nav {
    float: right;
    margin: 10px 20px;

		display: -webkit-flex;
		display: flex;
    //  @media (min-width: 768px) {
    //   display: none;
    //  }
    @media (max-width: 767px) {
      display: none !important;
    }
    a, .btn {
      float: left;
      font-size: 18px;
      margin-left: 40px;
      line-height: 40px;
    }
    a {
      font-weight: bold;
      color: $font;
    }
    .btn {
      height: 40px;
      padding: 0 40px;

      span:before {
        transform: scale(.5);
        top: -11px;
        right: 100%;
      }
      span:after {
        transform: scale(.5);
        top: -11px;
        left: 100%;
      }
    }
  }

  .subnav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 40px;
    background: #f7f7f7;
    padding: 0 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,.2);

    .links {
      float: right;
      display: flex;
      display: -webkit-flex;

      a {
        height: 100%;
        line-height: 40px;
        text-transform: uppercase;
        color: $font;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        color: $gniblgreen;
      }
    }
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: none !important;
    }
  }

  // &.visible {
    background: white;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
  // }

  @media(max-width: 767px) {
    position: absolute;
    // &.visible {
      background: none;
      box-shadow: none;
    // }
  }

  .logo {
    width: 100px;
    height: 100px;
    background: $gniblred;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000;
    @media(max-width: 767px) {
      width: 80px;
      height: 80px;
      left: 50%;
      top: 20px;
      @include translateX(-50%);
    }
  }
}

/*FOOTER*/
footer {
  clear: both;
  .logo {
    width: 100px;
  }
  position: relative;
  padding: 40px 0;
  h4, p, a, span {
      color: white;
  }
  h4, a, span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
  }
  .footer-links {
    display: inline-block;
    width: calc(100% - 105px);
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;

    a {
      margin-right: 30px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px;
    }
    @media (max-width: 767px) {
      width: 100%;
      border: 0;

      a {
        margin: 20px 0;
        display: block;
      }
    }
  }
  .accepted-payments {
    margin-bottom: 20px;
    img {
      margin-right: 10px;
      height: 40px; width: auto;
    }
  }
  .social {
    @media(max-width: 767px) {
      margin-top: 15px;
    }
    a {
      padding: 5px;
    }
    a:active, a:focus {
      outline: none;
    }
    img {
      width: 50px;
      @media (max-width: 767px) {
        width: 40px;
      }
    }
  }

  @media (max-width: 767px) {
    padding-top: 0;
    .logo {
      width: 80px;
    }
  }
}

.fixed-cta {
  @media (min-width: 768px) {
    display: none !important;
  }
  @media (max-width: 767px) {
    display: none;
    z-index: 1000;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;

    .btn {
      margin: 0 auto;
      max-width: none;
    }
  }
}

/*BACKGROUNDS*/
.wood-bg {
  background-image: url("../images/wood-bg.jpg");
}

.box-bg {
  background-image: url("../images/box.svg");
  background-size: 95% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px;
  @media (max-width: 480px) {
    padding: 30px;
  }
}

.cardboard-bg {
  background-image: url("../images/cardboard.jpg");
}

.wave {
  background-color: white;
  -webkit-mask-image: url("../images/wave.svg");
  mask-image: url("../images/wave.svg");
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  mask-size: 1000px;
  -webkit-mask-size: 1000px;
  mask-position: bottom;
  -webkit-mask-position: bottom;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 10;
  background-position: bottom;
  position: absolute;
  top: 0;
  padding-bottom: 10px;

  &.over {
    top: -80px;
  }

  &.wave-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: auto;
    bottom: 0;
  }

  &.footer-wave {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    bottom: calc(100% - 1px);
    top: auto;
  }

}

.offwhite-bg {
  background-color: #f7f7f9;
}

.dotted-bg {
  background-image: url("../images/dotted.jpg");

  &.wave {
    background-position: 0 -500px;

  }
}

.header-bg {
  background-image: url("../images/header.jpg");
  background-position: center -10vw;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 75px;

  @media (min-width: 1366px) {
    background-position: center -12vw;
  }
}


@media (max-width: 991px) {
  .trial-prop:nth-child(2n+1) {
    clear: both;
  }
}

.boss {
    background: url("../images/mug.png"), url("../images/pencils.png"), url("../images/plant.png"), url("../images/notebook.png"), url("../images/light-wood-bg.jpg");
    background-position: 120% 10%, bottom right, -10% top, bottom left, top left;
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat;

}

/*PRICING*/
main.pricing {
  // min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  .desktop {
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    @media (orientation: portrait) {
      min-height: 0;
      .table {
        height: 60vw;
      }
    }
  }
  .table-bg {
    background: url("../images/wood-bg.jpg");
  }
  .table {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    background: url("../images/wood-bg.jpg");

    @media (max-width: 480px) {
      height: 66vw;
    }
  }

  .mobile-container {
    @media (min-width: 320px) {
      max-height: calc(66vw + 100px);
    }
    @media (min-width: 768px) {
      max-height: 150px;
    }
  }
  .mobile-pricing {
    position: relative;
    top: -33vmin;
    padding-top: 0;
    padding-bottom: 10px;

    .price {
      font-size: 28px;
    }
  }

  .boxes {
    height: 100vh;

    #box-label {
      top: 80px;
      position: absolute;
      @media (max-width: 991px) {
        position: relative;
        top: 0;
      }
      @media (max-width: 480px) {
        position: relative;
        top: -30px;
      }
    }

    @media (max-width: 991px) {
      padding-top: 0;
      position: relative;
      float: left;
      height: auto;
      margin-top: 50px;
      clear: both;
    }

    .box-carousel {
      position: relative;
      top: 50%;
      @include translateY(-50%);
      .slick-list, .slick-track {
        height: 100%;
      }
      @media (max-width: 991px) {
        position: relative;
        top: 0;
        @include translateY(-25%);
      }
    }

    .box-slide {
      position: relative;

      @media (max-width: 991px) {
        text-align: center;
      }
      img {
        position: relative;
        max-width: 60%;
        left: -50px;
        @media (max-width: 991px) {
          position: initial;
          margin: 0 auto;
          width: 100%;
          max-width: 768px;
        }
        @media (min-width: 1580px) {
          left: 0;
        }
        @media (min-width: 2000px) {
          left: 25%;
          @include translateX(-50%);
        }
      }
    }
  }
}
.calculator {
  z-index: 100;
  padding: 20px;
  background: #f7f7f9;
  border-radius: 12px;
  h4 {
    margin-bottom: 10px;
  }
  hr {
    border-top: 2px solid #e5e5e5;
    margin-top: 30px;
    width: 100%;
    float: left;
  }
  @media (min-width: 992px) {
    position: absolute;
    top: 45%;
    right: 20px;
    @include translateY(-50%);
  }
  @media (max-width: 991px) {
    padding-top: 100px;
    background: none;
  }
  @media (max-width: 767px) {
    .col-sm-6 {
      padding: 0;
    }
  }
  @media (max-width: 360px) {
    .value-prop {
      padding: 0 10px;
    }
    .value-prop img {
      width: 45px !important;
    }
    .value-prop p {
      width: calc(100% - 55px) !important;
    }
  }
}

.additional-info {
	font-size: 16px; font-weight: bold; text-align: center
}
