/*VARIABLES*/
/*MIXINS*/
/*GENERAL*/
html, body {
  position: relative;
  width: 100vw;
  overflow-x: hidden; }

@media (max-width: 767px) {
  body.home {
    padding-bottom: 80px; } }
body.home .header-trial-button {
  display: none; }

@font-face {
  font-family: "HelloLucky";
  src: url(fonts/HelloLucky.otf); }
* {
  font-family: "brandon-grotesque", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #444444; }

section {
  padding: 40px 0;
  z-index: 10;
  position: relative; }
  section.under {
    z-index: 0; }

a {
  color: #444444;
  transition: .2s;
  font-weight: "500";
  text-decoration: underline; }
  a.btn {
    text-decoration: none; }
  a:hover, a:active, a:focus {
    color: #56e172;
    text-decoration: none; }

nav a, nav a:hover, footer a, footer a:hover {
  text-decoration: none; }

/*TYPOGRAPHY*/
h1 {
  font-family: "HelloLucky";
  font-size: 50px; }
  h1 span {
    font-family: "HelloLucky"; }

h2 {
  text-transform: uppercase;
  font-size: 28px; }
  @media (max-width: 480px) {
    h2 {
      font-size: 18px; } }
  h2.alt-header {
    text-align: center; }

h3 {
  text-transform: uppercase;
  font-size: 28px;
  color: #56e172; }
  @media (max-width: 480px) {
    h3 {
      font-size: 24px; } }
  @media (max-width: 360px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-size: 24px; }
  @media (max-width: 360px) {
    h4 {
      font-size: 22px; } }
  h4.alt-header {
    text-transform: uppercase;
    text-align: center; }

p {
  font-size: 20px; }
  @media (max-width: 360px) {
    p {
      font-size: 18px; } }

.green {
  color: #56e172; }

.red {
  color: #e63a3a; }

/*FORMS*/
input {
  width: 100%;
  height: 60px;
  line-height: 60px;
  font-size: 20px;
  padding: 0 10px;
  border-radius: 6px;
  border: 1px solid #cccccc;
  margin: 0 0 10px 0; }
  @media (min-width: 768px) {
    input.half {
      width: calc(50% - 5px);
      float: left; }
    input ~ .half {
      margin-left: 10px; } }

textarea {
  width: 100%;
  border: 1px solid #cccccc;
  border-radius: 6px;
  resize: none;
  font-size: 20px;
  line-height: 30px;
  padding: 10px;
  margin: 0 0 10px 0; }

.validation {
  box-sizing: border-box;
  display: none;
  padding: 15px 0 0; }

label.error {
  padding: 20px;
  background-color: #e63a3a;
  border-radius: 6px;
  color: white;
  position: absolute;
  right: 15px; }

/*BUTTONS*/
.btn {
  display: block;
  width: 100%;
  max-width: 400px;
  height: 60px;
  margin: 0 auto;
  border: 0;
  text-align: center;
  line-height: 60px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 6px;
  transition: .2s;
  font-size: 24px;
  overflow: hidden; }
  .btn.btn-red {
    background: #e63a3a; }
    .btn.btn-red:hover {
      background: #d53636; }
  .btn.btn-green {
    background: #56e172; }
    .btn.btn-green:hover {
      background: #4ecd68; }
  .btn span {
    color: white;
    position: relative; }
    .btn span:before {
      content: url("../images/accent.png");
      position: absolute;
      right: calc(100% + 10px);
      top: 0; }
      @media (max-width: 768px) {
        .btn span:before {
          top: -5px;
          right: calc(100% + 5px);
          transform: scale(0.8); } }
    .btn span:after {
      content: url("../images/accent-2.png");
      position: absolute;
      left: calc(100% + 10px);
      top: 0; }
      @media (max-width: 768px) {
        .btn span:after {
          top: -5px;
          left: calc(100% + 5px);
          transform: scale(0.8); } }
  .btn:hover {
    color: white;
    text-decoration: none;
    cursor: pointer; }
  @media (max-width: 768px) {
    .btn {
      font-size: 20px; } }

/*UTILITIES*/
ul.collapsible {
  list-style: none;
  padding: 0; }
  ul.collapsible li {
    transition: 1s; }
  ul.collapsible li .answer {
    display: none; }
  ul.collapsible li h4:before {
    content: "+";
    position: absolute;
    left: -20px; }
  ul.collapsible li.open h4:before {
    content: "-"; }
  ul.collapsible li.open .answer {
    display: block; }

.tabs {
  background: #e7e7e7;
  border-radius: 12px;
  overflow: auto; }
  .tabs .btn-tab {
    float: left;
    width: 33.33%;
    padding: 15px;
    text-align: center;
    border: 1px solid #f7f7f9;
    font-weight: bold;
    transition: .2s; }
    .tabs .btn-tab.selected-tab {
      background: rgba(0, 0, 0, 0.1); }
    .tabs .btn-tab:hover {
      cursor: pointer; }

.tooltip-container .tooltip {
  display: none;
  position: absolute;
  top: calc(100% + 20px);
  left: 0;
  width: 100%;
  text-align: center; }
  .tooltip-container .tooltip span {
    color: #cccccc; }
.tooltip-container:hover .tooltip {
  display: block; }

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100000000;
  background: rgba(204, 204, 204, 0.8); }
  .modal-container .modal-back {
    left: 20px;
    top: 15px;
    position: absolute;
    width: auto !important;
    font-weight: bold;
    font-size: 14px;
    line-height: 40px;
    height: 40px; }
    .modal-container .modal-back:hover {
      cursor: pointer;
      color: #56e172; }
  .modal-container .modal {
    min-height: 100px;
    transition: 1s;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background: #f7f7f9;
    padding: 50px 20px 20px;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    overflow-y: scroll; }
    @media (max-width: 480px) {
      .modal-container .modal {
        position: relative;
        height: 100%;
        margin: 0 auto;
        left: 0;
        top: 0;
        transform: none; } }
  .modal-container .error {
    right: 20px; }

/*HAND DRAWN HEADERS*/
.handdrawn {
  display: inline;
  padding: 40px 60px;
  position: relative;
  z-index: 100;
  background-image: url("../images/handdrawn-header.svg");
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat; }
  @media (max-width: 480px) {
    .handdrawn {
      padding: 20px 60px 20px 20px; } }

.left-header {
  background-position: right;
  background-size: 120% 100%; }

.right-header {
  background-position: left;
  background-size: 120% 100%;
  float: right; }
  @media (max-width: 480px) {
    .right-header {
      padding: 20px 20px 20px 60px; } }

.page-header {
  text-align: center;
  display: table;
  float: none;
  position: absolute;
  left: 50%;
  -moz-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: default;
  margin: 0 auto;
  padding: 30px 40px; }

.main-header {
  display: inline-block;
  margin-bottom: 0;
  padding: 40px 60px 40px 60px;
  font-size: 50px; }
  @media (min-width: 1024px) {
    .main-header {
      margin-top: 25px;
      width: 55vw;
      max-width: 600px;
      left: -100px;
      text-align: center; } }
  @media (max-width: 1023px), (orientation: portrait) {
    .main-header {
      text-align: center;
      float: none;
      background-size: 100% 100%; } }
  @media (max-width: 1023px) and (max-width: 767px), (orientation: portrait) and (max-width: 767px) {
    .main-header {
      padding: 30px 40px;
      margin-top: -15px; } }

  @media (max-width: 480px) {
    .main-header {
      padding: 25px 20px;
      font-size: 32px; } }
  @media (max-width: 360px) {
    .main-header {
      font-size: 28px; } }

.red-header {
  background-image: url("../images/red-header.svg");
  color: white; }

.green-header {
  background-image: url("../images/green-header.svg");
  color: white; }

/*HOME*/
/*--LANDING*/
.home-hero {
  background: url("../images/hero.png"), url("../images/dotted.jpg");
  background-size: cover, auto;
  min-height: 70vh;
  background-repeat: no-repeat, repeat;
  background-position: left center;
  overflow-y: hidden;
  padding: 0;
  height: auto; }
  @media (max-width: 1024px) {
    .home-hero {
      background-position: -100px top; } }
  @media (min-width: 1024px) and (orientation: landscape) {
    .home-hero .hero-content {
      min-height: 70vh;
      background: rgba(255, 255, 255, 0.75);
      padding: 0 30px 60px; } }
  @media (max-width: 1023px), (orientation: portrait) {
    .home-hero {
      max-height: none;
      height: auto;
      background-image: url("../images/mobile-header.jpg");
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: top;
      text-align: center;
      padding-top: 100px; }
      .home-hero .col-xs-12 {
        width: 100%;
        margin-left: 0;
        padding-right: 15px; }
      .home-hero p {
        width: 100%;
        max-width: 440px;
        margin: 20px auto 40px; } }
    @media (max-width: 1023px) and (max-width: 480px), (orientation: portrait) and (max-width: 480px) {
      .home-hero p {
        margin: 10px auto 20px; } }

  .home-hero::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, white 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, white 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 70%, white 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
    /* IE6-9 */ }

/*--CLIENTS*/
.client {
  display: inline;
  position: relative; }

.clients img {
  width: 60px;
  margin: 10px;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  opacity: .5;
  transition: .5s; }
  @media (max-width: 767px) {
    .clients img {
      width: 40px;
      margin: 5px; } }
  .clients img:hover {
    -webkit-filter: grayscale(20%);
    -moz-filter: grayscale(20%);
    -ms-filter: grayscale(20%);
    -o-filter: grayscale(20%);
    opacity: .8; }

/*--HOW IT WORKS*/
.about .intro {
  max-width: 75%; }
@media (max-width: 767px) {
  .about {
    overflow: hidden; }
    .about .container {
      padding-top: 150px; } }
    @media (max-width: 767px) and (max-width: 480px) {
      .about .container {
        padding-top: 30vw; } }
@media (max-width: 767px) {
    .about .intro {
      max-width: none; } }
.about .overhead-box {
  z-index: 10000;
  position: absolute;
  top: -75px;
  right: 0;
  max-width: 40vw;
  -ms-transform: rotate(15deg);
  /* IE 9 */
  -webkit-transform: rotate(15deg);
  /* Chrome, Safari, Opera */
  transform: rotate(15deg); }
  @media (max-width: 767px) {
    .about .overhead-box {
      position: absolute;
      -ms-transform: none;
      /* IE 9 */
      -webkit-transform: none;
      /* Chrome, Safari, Opera */
      -moz-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 70vw;
      max-width: 360px;
      top: 30px;
      left: 50%; } }
.about .edamame {
  position: absolute;
  left: -80px;
  top: 10%;
  max-width: 35vw; }
  @media (min-width: 1600px) {
    .about .edamame {
      left: 80px; } }
  @media (max-width: 767px) {
    .about .edamame {
      width: 180px;
      top: 120px;
      right: -20px;
      left: auto; } }
.about .nuts {
  position: absolute;
  z-index: 1000;
  bottom: -30px;
  left: -150px;
  max-width: 40vw; }
  @media (min-width: 1600px) {
    .about .nuts {
      max-width: 35vw;
      left: -80px; } }
  @media (max-width: 767px) {
    .about .nuts {
      z-index: 0;
      width: 240px;
      top: -20px;
      right: 2%;
      left: auto; } }
  @media (max-width: 480px) {
    .about .nuts {
      right: -10px;
      top: 10px; } }
.about .popcorn {
  position: absolute;
  right: -70px;
  top: 50%;
  max-width: 35vw; }
  @media (min-width: 1600px) {
    .about .popcorn {
      right: 100px; } }
  @media (max-width: 767px) {
    .about .popcorn {
      left: 0;
      right: auto;
      top: 100px;
      width: 200px; } }

/*--PRODUCTS*/
#products-container {
  height: 500px;
  z-index: 15; }
  #products-container .product-slide:focus {
    outline: none; }
  #products-container .slick-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 160px;
    background: rgba(255, 255, 255, 0.5);
    z-index: 5;
    border: 0; }
    @media (max-width: 480px) {
      #products-container .slick-arrow {
        width: 80px; } }
    #products-container .slick-arrow span {
      color: #56e172;
      box-sizing: content-box;
      font-size: 40px;
      position: absolute;
      top: 50%;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      font-weight: bold; }
    #products-container .slick-arrow:hover {
      cursor: pointer; }
    #products-container .slick-arrow.slick-prev {
      left: 0;
      background: -moz-linear-gradient(left, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(left, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to right, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7f7f9', endColorstr='#00ffffff',GradientType=1 );
      /* IE6-9 */ }
      #products-container .slick-arrow.slick-prev span {
        left: 10px; }
    #products-container .slick-arrow.slick-next {
      right: 0;
      background: -moz-linear-gradient(right, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* FF3.6-15 */
      background: -webkit-linear-gradient(right, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to left, #f7f7f9 0%, #f7f7f9 10%, rgba(247, 247, 249, 0) 100%);
      /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f7f7f9',GradientType=1 );
      /* IE6-9 */ }
      #products-container .slick-arrow.slick-next span {
        right: 10px; }
    #products-container .slick-arrow:focus {
      outline: none; }
  #products-container .slick-list {
    width: 100%; }

.product-carousel {
  overflow: hidden;
  height: 300px;
  margin-top: 160px; }

.product {
  margin: 0 auto;
  padding: 20px;
  position: relative;
  background: url("../images/handdrawn-circle.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 250px !important;
  height: 250px !important; }
  .product .info {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%) translateY(-10px);
    -o-transform: translateY(-50%) translateY(-10px);
    -ms-transform: translateY(-50%) translateY(-10px);
    -webkit-transform: translateY(-50%) translateY(-10px);
    transform: translateY(-50%) translateY(-10px);
    left: 20px;
    width: calc(50% + 10px); }
    .product .info .feature {
      overflow: auto;
      margin-top: 20px;
      width: 100%;
      display: block;
      font-weight: bold;
      text-transform: uppercase; }
      .product .info .feature img {
        width: 25px;
        margin-right: 10px;
        float: left; }
      .product .info .feature p {
        color: white;
        float: left;
        font-size: 14px;
        margin: 0;
        width: calc(100% - 35px); }
  .product .product-image {
    width: 50%;
    right: -30px;
    top: 50%;
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute; }

/*--INSTAGRAM*/
#instagram {
  background-image: url(../images/fruit-granola.jpg);
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 120px 0 40px; }
  #instagram h2.alt-header {
    text-shadow: 1px 0 1px #f7f7f9, 0 1px 1px #f7f7f9, -1px 0 1px #f7f7f9, 0 -1px 1px #f7f7f9; }
  @media (max-width: 480px) {
    #instagram {
      background-position: center 15px;
      padding: 60px 0; } }
  @media (min-width: 1366px) {
    #instagram {
      background-position: center -60px; } }
  @media (min-width: 2000px) {
    #instagram {
      background-position: center 25%; } }

#instafeed {
  padding-bottom: 100px; }
  @media (max-width: 480px) {
    #instafeed {
      padding-bottom: 60px; } }
  #instafeed .instafeed-image {
    float: left;
    width: 25%;
    padding: 10px;
    background: rgba(247, 247, 249, 0.2); }
    #instafeed .instafeed-image img {
      width: 100%; }
    @media (max-width: 767px) {
      #instafeed .instafeed-image {
        width: 50%; } }

/*--FAQS*/
.faqs {
  background-image: url("../images/faqs-bg.jpg");
  background-size: cover;
  background-position: center center; }
  @media (max-width: 480px) {
    .faqs {
      background-image: url("../images/faqs-bg-alt.jpg"); } }
  .faqs .container {
    overflow: scroll;
    -ms-overflow-style: none; }

.container.test {
  margin-top: 50px; }
  @media (max-width: 480px) {
    .container.test {
      margin-top: 20px; } }

.testimonial {
  position: relative; }
  @media (max-width: 767px) {
    .testimonial {
      margin: 20px 0; } }
  .testimonial p {
    padding: 20px;
    margin: 0;
    border-radius: 30px;
    background: white; }
  .testimonial .chat-tail {
    width: 100%;
    height: auto;
    position: relative;
    float: right;
    top: -30px;
    z-index: -1; }
    @media (max-width: 767px) {
      .testimonial .chat-tail {
        position: absolute;
        height: 100px;
        width: auto;
        right: -47px;
        top: auto;
        bottom: 0; } }
    @media (max-width: 480px) {
      .testimonial .chat-tail {
        height: 60px;
        right: -23px; } }
  @media (max-width: 767px) {
    .testimonial.pull-right .chat-tail {
      right: auto;
      left: -47px;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH"; } }
  @media (max-width: 480px) {
    .testimonial.pull-right .chat-tail {
      height: 60px;
      left: -23px; } }

@media (max-width: 767px) {
  .testimonial-container {
    float: left;
    position: relative;
    width: 100vw; }

  .photo-container {
    position: absolute;
    bottom: 70px;
    right: 0; }
    .photo-container.left {
      left: 0;
      right: auto; } }
.testimonial-photo {
  width: 100px;
  height: 100px;
  max-width: 100%;
  display: block;
  margin: 40px auto 0;
  border-radius: 50%;
  background-size: cover; }
  @media (max-width: 480px) {
    .testimonial-photo {
      width: 50px;
      height: 50px; } }

@media (min-width: 768px) {
  body {
    padding-top: 60px; } }
/*HEADER*/
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  z-index: 10000;
  transition: .5s;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
  header a {
    padding: 0 10px; }
  header a.selected {
    background: rgba(0, 0, 0, 0.05); }
  header nav {
    float: right;
    margin: 10px 20px;
    display: -webkit-flex;
    display: flex; }
    @media (max-width: 767px) {
      header nav {
        display: none !important; } }
    header nav a, header nav .btn {
      float: left;
      font-size: 18px;
      margin-left: 40px;
      line-height: 40px; }
    header nav a {
      font-weight: bold;
      color: #444444; }
    header nav .btn {
      height: 40px;
      padding: 0 40px; }
      header nav .btn span:before {
        transform: scale(0.5);
        top: -11px;
        right: 100%; }
      header nav .btn span:after {
        transform: scale(0.5);
        top: -11px;
        left: 100%; }
  header .subnav {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 40px;
    background: #f7f7f7;
    padding: 0 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
    header .subnav .links {
      float: right;
      display: flex;
      display: -webkit-flex; }
      header .subnav .links a {
        height: 100%;
        line-height: 40px;
        text-transform: uppercase;
        color: #444444;
        font-weight: bold;
        text-decoration: none; }
      header .subnav .links a:hover {
        color: #56e172; }
    @media (min-width: 768px) {
      header .subnav {
        display: none; } }
    @media (max-width: 767px) {
      header .subnav {
        display: none !important; } }
  @media (max-width: 767px) {
    header {
      position: absolute;
      background: none;
      box-shadow: none; } }
  header .logo {
    width: 100px;
    height: 100px;
    background: #e63a3a;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 1000; }
    @media (max-width: 767px) {
      header .logo {
        width: 80px;
        height: 80px;
        left: 50%;
        top: 20px;
        -moz-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%); } }

/*FOOTER*/
footer {
  clear: both;
  position: relative;
  padding: 40px 0; }
  footer .logo {
    width: 100px; }
  footer h4, footer p, footer a, footer span {
    color: white; }
  footer h4, footer a, footer span {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px; }
  footer .footer-links {
    display: inline-block;
    width: calc(100% - 105px);
    padding: 10px;
    border-top: 1px solid white;
    border-bottom: 1px solid white; }
    footer .footer-links a {
      margin-right: 30px;
      text-transform: uppercase;
      font-weight: bold;
      font-size: 16px; }
    @media (max-width: 767px) {
      footer .footer-links {
        width: 100%;
        border: 0; }
        footer .footer-links a {
          margin: 20px 0;
          display: block; } }
  footer .accepted-payments {
    margin-bottom: 20px; }
    footer .accepted-payments img {
      margin-right: 10px;
      height: 40px;
      width: auto; }
  @media (max-width: 767px) {
    footer .social {
      margin-top: 15px; } }
  footer .social a {
    padding: 5px; }
  footer .social a:active, footer .social a:focus {
    outline: none; }
  footer .social img {
    width: 50px; }
    @media (max-width: 767px) {
      footer .social img {
        width: 40px; } }
  @media (max-width: 767px) {
    footer {
      padding-top: 0; }
      footer .logo {
        width: 80px; } }

@media (min-width: 768px) {
  .fixed-cta {
    display: none !important; } }
@media (max-width: 767px) {
  .fixed-cta {
    display: none;
    z-index: 1000;
    padding: 10px 15px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white; }
    .fixed-cta .btn {
      margin: 0 auto;
      max-width: none; } }

/*BACKGROUNDS*/
.wood-bg {
  background-image: url("../images/wood-bg.jpg"); }

.box-bg {
  background-image: url("../images/box.svg");
  background-size: 95% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 60px; }
  @media (max-width: 480px) {
    .box-bg {
      padding: 30px; } }

.cardboard-bg {
  background-image: url("../images/cardboard.jpg"); }

.wave {
  background-color: white;
  -webkit-mask-image: url("../images/wave.svg");
  mask-image: url("../images/wave.svg");
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  mask-size: 1000px;
  -webkit-mask-size: 1000px;
  mask-position: bottom;
  -webkit-mask-position: bottom;
  position: relative;
  width: 100%;
  height: 40px;
  z-index: 10;
  background-position: bottom;
  position: absolute;
  top: 0;
  padding-bottom: 10px; }
  .wave.over {
    top: -80px; }
  .wave.wave-bottom {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    top: auto;
    bottom: 0; }
  .wave.footer-wave {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    position: absolute;
    bottom: calc(100% - 1px);
    top: auto; }

.offwhite-bg {
  background-color: #f7f7f9; }

.dotted-bg {
  background-image: url("../images/dotted.jpg"); }
  .dotted-bg.wave {
    background-position: 0 -500px; }

.header-bg {
  background-image: url("../images/header.jpg");
  background-position: center -10vw;
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 75px; }
  @media (min-width: 1366px) {
    .header-bg {
      background-position: center -12vw; } }

@media (max-width: 991px) {
  .trial-prop:nth-child(2n+1) {
    clear: both; } }
.boss {
  background: url("../images/mug.png"), url("../images/pencils.png"), url("../images/plant.png"), url("../images/notebook.png"), url("../images/light-wood-bg.jpg");
  background-position: 120% 10%, bottom right, -10% top, bottom left, top left;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, repeat; }

/*PRICING*/
main.pricing {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative; }
  main.pricing .desktop {
    position: relative;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden; }
    @media (orientation: portrait) {
      main.pricing .desktop {
        min-height: 0; }
        main.pricing .desktop .table {
          height: 60vw; } }
  main.pricing .table-bg {
    background: url("../images/wood-bg.jpg"); }
  main.pricing .table {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60vh;
    background: url("../images/wood-bg.jpg"); }
    @media (max-width: 480px) {
      main.pricing .table {
        height: 66vw; } }
  @media (min-width: 320px) {
    main.pricing .mobile-container {
      max-height: calc(66vw + 100px); } }
  @media (min-width: 768px) {
    main.pricing .mobile-container {
      max-height: 150px; } }
  main.pricing .mobile-pricing {
    position: relative;
    top: -33vmin;
    padding-top: 0;
    padding-bottom: 10px; }
    main.pricing .mobile-pricing .price {
      font-size: 28px; }
  main.pricing .boxes {
    height: 100vh; }
    main.pricing .boxes #box-label {
      top: 80px;
      position: absolute; }
      @media (max-width: 991px) {
        main.pricing .boxes #box-label {
          position: relative;
          top: 0; } }
      @media (max-width: 480px) {
        main.pricing .boxes #box-label {
          position: relative;
          top: -30px; } }
    @media (max-width: 991px) {
      main.pricing .boxes {
        padding-top: 0;
        position: relative;
        float: left;
        height: auto;
        margin-top: 50px;
        clear: both; } }
    main.pricing .boxes .box-carousel {
      position: relative;
      top: 50%;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); }
      main.pricing .boxes .box-carousel .slick-list, main.pricing .boxes .box-carousel .slick-track {
        height: 100%; }
      @media (max-width: 991px) {
        main.pricing .boxes .box-carousel {
          position: relative;
          top: 0;
          -moz-transform: translateY(-25%);
          -o-transform: translateY(-25%);
          -ms-transform: translateY(-25%);
          -webkit-transform: translateY(-25%);
          transform: translateY(-25%); } }
    main.pricing .boxes .box-slide {
      position: relative; }
      @media (max-width: 991px) {
        main.pricing .boxes .box-slide {
          text-align: center; } }
      main.pricing .boxes .box-slide img {
        position: relative;
        max-width: 60%;
        left: -50px; }
        @media (max-width: 991px) {
          main.pricing .boxes .box-slide img {
            position: initial;
            margin: 0 auto;
            width: 100%;
            max-width: 768px; } }
        @media (min-width: 1580px) {
          main.pricing .boxes .box-slide img {
            left: 0; } }
        @media (min-width: 2000px) {
          main.pricing .boxes .box-slide img {
            left: 25%;
            -moz-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%); } }

.calculator {
  z-index: 100;
  padding: 20px;
  background: #f7f7f9;
  border-radius: 12px; }
  .calculator h4 {
    margin-bottom: 10px; }
  .calculator hr {
    border-top: 2px solid #e5e5e5;
    margin-top: 30px;
    width: 100%;
    float: left; }
  @media (min-width: 992px) {
    .calculator {
      position: absolute;
      top: 45%;
      right: 20px;
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%); } }
  @media (max-width: 991px) {
    .calculator {
      padding-top: 100px;
      background: none; } }
  @media (max-width: 767px) {
    .calculator .col-sm-6 {
      padding: 0; } }
  @media (max-width: 360px) {
    .calculator .value-prop {
      padding: 0 10px; }
    .calculator .value-prop img {
      width: 45px !important; }
    .calculator .value-prop p {
      width: calc(100% - 55px) !important; } }

/*# sourceMappingURL=gnibl.css.map */
